/* ============QUESTION CONTENT ====================== */

#editor-container{
  display: flex;
  padding-bottom: 200px;
}

.sidebar{
  width: 400px;
  background-color: rgb(231, 247, 244);
  box-shadow: 1px 1px #d0d6d8;
  z-index: 2;
  margin-left: 24px;
  padding: 10px;
  border-radius: 40px;
  height: 450px;
  margin-top: 140px;
}

.sidebar .question, .sidebar .description, .language{
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
     }

.question, .sidebar{
    font-size: 15px;
}
.question{
    font-weight: bold;
    margin-top: 14px;
}


#inner-sidebar{
    padding-top: 40px;
    /* align-items: center; */
    padding-left: 50px;
    display: inline-block;
    margin-bottom: 20px;
}

html,body{overflow-x: hidden;}

#button-question-text{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 13px;
  margin-right: 9px;
  padding: 6px;
  border-radius: 4px;
  /* background-color: snow; */
}

#button-question-text:hover{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 13px;
  margin-right: 9px;
  padding: 6px;
  border-radius: 4px;
  background-color: lightgray;
  color: #001f3f;
  cursor: pointer;
}

#button-question-text:focus{
  outline: none;
}

#button-question-skip-text{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 13px;
  margin-right: 9px;
  padding: 6px;
  border-radius: 4px;
  /* background-color: snow; */
}

#button-question-skip-text:focus{
  outline:none;
}

#button-question-skip-text:hover{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 13px;
  margin-right: 9px;
  padding: 6px;
  border-radius: 4px;
  /* background-color: lightgray; */
  color: red;
  cursor: pointer;
}


#skip-all-questions{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 13px;
    color: rgba(202, 91, 0, 0.781);
    font-weight: 700;
    margin-left: 30px;
}

#button-skip-all{
  margin-left: 260px;
  margin-top: 20px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 13px;
  border-radius: 4px;
  padding: 3px;
  
}

#button-skip-all:hover{
  margin-left: 260px;
  margin-top: 20px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 13px;
  border-radius: 4px;
  padding: 3px;
  cursor: pointer;
  color: red;
}

#button-skip-all:focus{
  outline: none;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


#editor {
    margin: 0;
    position: absolute;
    top: 155px;
    bottom: 100px;
    left: 450px;
    right: 400px;
    box-shadow: 2px 2px #333232;
    height: 200px;
    /* background-color: lightgray; */
}

#questions-editor{
  margin-left: 5px;
  width: 460px;
  height: 620px;
}

#questions{
  padding-top: 106px;
  margin-left: -864px;
    width: 800px;
    /* padding-right: 7px; */
}

#question-number{
  margin-right: 15px;
  border: solid gray 1px;
  border-radius: 40px;
  background-color: white;
  padding: 7px;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 12px;
  color: gray
}

#question-number:hover{
  margin-right: 15px;
  border: solid gray 1px;
  border-radius: 40px;
  background-color: white;
  padding: 7px;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 12px;
  color: #001f3f;
}


#whiteboard{
  margin-top: 90px;
  margin-left: 40px;
}


#whiteboard:focus{
    outline:none
}

.whiteboardhidden{
    display: none;
}

.text-area {
    background-color:rgb(239, 255, 96);
    border: none;
    font-size: 22px;
    font-family: 'Fira Code';
}

#buttons-below-editor{
  margin-top: 570px;
  margin-left: 580px;
  width: 800px;
  /* display: inline-block; */
  display: flex;
}

#button-run-question{ 
 
  margin-right: 16px;
} 


#run-text{
  font-size: 13px; 
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  border-radius: 20px;
  padding: 7px;
  width: 80px;
}  

#run-text:hover{
  font-size: 13px; 
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
 border-radius: 20px;
 padding: 7px;
 width: 80px;
 color: green;
 cursor: pointer;
}  

#run-text:focus{
  outline: none
}

#play-icon{
  font-size: 12px;
  position: relative;
  top: 2px; 
}

#button-see-solution{
}

#solution-text{
 font-size: 13px; 
 font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
 border-radius: 20px;
 padding: 7px;
 width: 80px;
}

#solution-text:hover{
  font-size: 13px; 
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  border-radius: 20px;
  padding: 7px;
  width: 80px;
  color: #a40606;
  background-color: linear-gradient(315deg, #a40606 0%, #d98324 74%);
  cursor: pointer;
} 

#solution-text:focus{
  outline: none
}

/* Reset */

#container{
    display: flex;
    flex-direction: row;
    width: 360px;
}
.compete, .skip{
 margin: 10px;
 width: 90px;
 z-index: 1;
 color: red;
 
}

.board-button{  
    margin-left: 140px;
    /* color: rgb(210, 212, 219); */
    text-decoration: none;
    font-size: 35px; 
    width: 32;
    border-radius: 1px;
    margin-top: 50px;
    color: black;
    /* border: solid 2px black; */
}
.board-button:hover{
    /* background-color: rgb(210, 212, 219);
    color: rgb(48, 44, 70); */
    cursor: pointer;
}


.submit{
    top:  481px;
    left: 830px;
    width: 90px;
}
.run{
    top:  481px;
    left: 796px;
    width: 100px;
}
.run-submit{
    position: absolute;
}
.run:hover a, .submit:hover a{
    /* background-color: #555555  */
    color: black;
}
.run a, .submit a{
    color:#a1a1a1;
}
.run, .submit{
    border-color: #a1a1a1;
}
#translate {
  transform: rotate(10deg);

  left: -200px;
  top: -30px;
  background: rgb(55, 56, 56);
  position: absolute;
  transition: all .3s ease-Out;
}
#translate-2 {
  transform: rotate(10deg);

  height: 250%;
  left: -200px;
  top: -30px;
  background: rgb(87, 255, 143);
  position: absolute;
  transition: all .3s ease-Out;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.button:hover #translate, .button:hover #translate-2 {
  left: 0;
}

.button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}



#menu {
    border: 1px solid rgb(102, 102, 102);
    text-decoration: none;
    color: rgb(219, 219, 219);
    padding: 7px; 
    border-radius: 10px;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 12px;
    margin-right: 25px 
}



.dropdown{
    padding-left: 245px;
    z-index: 120;
}
.dropdown-content a {
  color: rgb(58, 58, 58);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e7e7e7;
  min-width: 125px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropbtn {
  /* background-color: rgb(64, 170, 64); */
  color: white;
  padding: 9px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* .dropdown:hover .dropbtn {
  background-color: #64b467;
} */
.dropdown:hover .dropbtn {
  /* background-color: #64b467; */
}

.questions{
    padding-top: 5px;
}


.white-board{
    /* background-color: rgb(255, 245, 112); */
    align-self:center;
    padding-left: 1120px;
    /* padding: 100px; */
    display: none;
    /* color: rgb(58, 57, 57); */
   
}

.start-exam{
  left: 600px;
}

#editor-container{
  background-color: rgb(189, 189, 189);
}



/* Timer css  */

.Timers {
  display: flex;
  justify-content: center;
}
@media (max-width: 900px) {
  .Timers {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 900px) {
  .Stopwatch {
    margin-bottom: 40px;
  }
}
.Countdown,
.Stopwatch {
  margin-left: 30px;
  margin-right: 30px;
  border: 2px solid grey;
  border-radius: 4px;
  padding: 5px;
  width: 100px;
  background-color: rgb(22, 27, 31);
  box-shadow: 0 3px 6px rgb(12, 12, 12);
  border-radius: 20px;
  margin-left: 800px;
}

.timer-and-questions{
  display: flex;
  flex-direction: row;
}


#timer{
  font-weight: bold;
  color: #333;
  text-align: center;
  background-color: rgb(202, 202, 10);
  padding: 5px;
  
  margin-top: 25px;
  border-radius: 20px;
  font-family: monospace;
  font-size: 17px;
  height: 25px;
  position: absolute;
}


.Countdown {
  padding-top: 10px;
}

.Countdown-header,
.Stopwatch-header {
  font-size: 40px;
  font-weight: bold;
}


.Countdown-time {
  font-size: 20px;
  margin: 5px 0;
  color: white;
  font-weight: bold;
}

.countdown-container button {
  /* margin-left: 700px; */
  flex: 2;
  width: 90px;
  height: 30px;
}

.countdown-container .Countdown{
  flex: 1;
  width: 90px;
  margin-right: 100px;
}

.countdown-container{
  /* display: flex; */
  /* flex-direction: column; */
}